<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="container bg-secondary">

    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>Coming Soon</h3>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>

</html>