<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="container bg-secondary">

    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Spotify Playlist Updater</h2>
            <p>
                This utility allows for the creation of, or for updating playlists for individual artists on Spotify.
                Simply <a href="/login">log in</a> with Spotify to start using it.
            </p>
            <p>
                Note: By logging in, you consent to using cookies to save your user ID for access. Once logged in, if
                you want to delete all your personal information simply navigate to the settings page.
            </p>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>

</html>