<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="container bg-secondary">

    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <%- include("../partials/forkme") %>

        <div class="jumbotron">
            <h3>You have been successfully logged out</h3>
            <p>
                If you believe you were logged out in error, please simply <a href="/login">log in</a> again. The
                previous page should be saved.
            </p>
            <p>
                Note: If you would like to remove all personal data from the server, simply login again and navigate to
                the settings page. There will be a "Remove All Personal Information" button towards the bottom of the
                page.
            </p>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>

</html>