<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="container bg-secondary">

    <header>
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="jumbotron">
            <h3>
                Your personal information has been successfully removed from the database, and you have been logged out
            </h3>
            <p>
                If you would like to use this application again, simply <a href="/login">log in</a>.
            </p>
        </div>
    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>

</body>

</html>