<style>
    #forkme-footer {
        display: none;
    }

    @media only screen and (max-width: 1375px) {
        #forkme-footer {
            display: block;
        }
    }
</style>

<p class="text-center w-50 mx-auto mb-1" id="forkme-footer">
    <a class="text-light bg-dark rounded d-block p-2"
        href="https://github.com/anthonynorthrup314/spotify-playlist-updater" target="_blank">
        <span class="fa fa-external-link-square"></span>
        Fork me on GitHub
    </a>
</p>

<p class="text-center text-light">&copy; Copyright 2020 Anthony Northrup</p>