<style>
    #forkme-ribbon {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 149px;
        height: 149px;
        z-index: -1;
    }

    @media only screen and (min-width: 1376px) {
        #forkme-ribbon {
            display: block;
        }
    }
</style>

<div id="forkme-ribbon">
    <a href="https://github.com/anthonynorthrup314/spotify-playlist-updater" target="_blank">
        <img width="149" height="149"
            src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
            class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1" />
    </a>
</div>